<!DOCTYPE html>
<html>
<head>
    <title>tabi-project</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

</head>

<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="#">DATOS ABIERTOS</a>
           </div>
           <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#home-sec">INICIO</a></li>
                <li><a href="#about">GRAFICO1</a></li>
                <li><a href="#project">GRAFICO2</a></li>
                <li><a href="#pricing">GRAFICO3</a></li>
                <li><a href="#contact">CONTACTO</a></li>
            </ul>
             </div>
         </div>
    </div>

    <div id="home-sec">   
        <div class="container"  >
            <div class="row text-center">
                <div  class="col-md-12" >
                    <span class="head-main" >TABI - ENTREGA FINAL</span>
                    <h3 class="head-last col-md-8 col-md-offset-2  col-sm-8 col-sm-offset-2">Datos abiertos 
                        de la Provincia de Buenos Aires	</h3>                        
                    </div>
                </div>
            </div>
    </div>
        <!--END HOMESECTION-->  




    <!--ABOUT SECTION-->
    <section >



        <div class="row text-center g-pad-bottom">

            <div class="col-md-12">

          </div>
      </div>

  </section>
  <!--END ABOUT SECTION-->

          <div class="col-md-10">
            
            <%= yield %>
        </div>

  <!--PROJECT SECTION-->
  <section id="project" >
    <div class="container">
    </div>
</section>
<!--END PROJECT SECTION-->

</section>
<!--END PRICING SECTION-->
<!--CONTACT SECTION-->
<section class="qry" id="contact" >
  <div class="container">
    GRUPO2: ANDRES BERNARDI (cito.bernardi@gmail.com) - SERGIO BARRAGAN (sbarragan43@gmail.com)
</div>
</section>

<!--END CONTACT SECTION-->

<!--FOOTER SECTION -->
<div id="footer">
    <a href='www.datos.gba.gob.ar'>www.datos.gba.gob.ar</a>
</div>
<!-- END FOOTER SECTION -->

<!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
<!-- CORE JQUERY  -->


</body>

</html>
